.card {
  border: solid rgba(114, 114, 114, 0.537) 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  padding: 15px 50px;

  &__info {
    text-align: right;
  }

  &__img {
    display: flex;
    justify-content: center;

    &__detail {
      border-radius: 10px;
      margin: 10px;
      width: 60%;
    }
  }

  &__title,
  &__text {
    color: rgb(72, 72, 72);
    font-family: roboto;
    font-size: 1.3rem;
    margin: 10px 0;
    text-align: center;
  }
  
  &__text {
    font-size: 1rem;
    text-align: left;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
