.card__body__img__detail {
  max-height: 65vh;
}

.empty {
    color: whitesmoke;
  margin: 20px;
  padding: 20px;

  & .card-comment__text {
    background: #232222;
    border-radius: 4px;
    margin: 10px 0;
    padding:25px;
    text-align: center;
  }
}


.card {
  padding: 25px 50px 15px 50px;
  margin-bottom: 10vh;
}

.card__footer {
  color: whitesmoke;
  margin-bottom: 20px;
  padding: 0 25px;
}

.comments__count{
  color: black;
  padding: 0 50px;

}

