.img-container{
  display: flex;
  justify-content: center;
}
.card__body__img__detail {
  
  @media (max-width: 1000px) {
    max-height: 45vh;
    margin: 0 auto;
  }
  max-height: 65vh;
}

.empty {
  color: whitesmoke;
  margin: 20px;
  padding: 20px;

  & .card-comment__text {
    background: #232222;
    border-radius: 4px;
    margin: 10px 0;
    padding:25px;
    text-align: center;
  }
}


.card__footer {
  color: whitesmoke;
  margin-bottom: 20px;
  padding: 0 25px;
}

.comments__count{
  color: black;
  padding: 0 50px;

}

