<p style="text-align: center;">Post Details</p>
<p style="text-align: center;">↓</p>

<div class="card">
  <div class="card__body">
    <p class="card__info"> Autor:  {{ (post$ | async)?.postAuthorName }} </p>
    <div class="card__img">
      <img class="card__img__detail" src="../../../assets/rectangle.png" alt="dummy image"/>
    </div>
    <p class="card__title">Título: {{ (post$ | async)?.postTitle }}</p>
    <p class="card__text">Contenido: {{ (post$ | async)?.postContent }}</p>
    <div class="card-comment" *ngFor="let comment of (post$ | async)?.comments">
      <p class="card-comment__autor">Autor comentario: {{ comment.commentAuthorName }} / {{ comment.createdAt | date: "dd-MM-yyyy" }} </p>
      <p class="card-comment__text">Contenido comentario: {{ comment.commentContent }}</p>
    </div>
    <div class="card-comment empty" *ngIf="(post$ | async)?.comments.length <= 0">  
      <p class="card-comment__text">No hay comentarios</p>
    </div>

  </div>
</div>
