<p>backoffice-app</p>
<app-post-private [posts]="( posts$ | async )" ></app-post-private>

<div class="newpost" *ngIf="displayNewPostForm" [@inOutAnimation]>
  <div class="formgroup">
    <form [formGroup]="newPostForm">
      <div class="formcontrol">
        <label for="postAuthorName">Autor</label>
        <input
          type="text"
          formControlName="postAuthorName"
          id="postAuthorName"
        />
      </div>

      <div class="formcontrol">
        <label for="postAuthorNickName">Nick</label>
        <input
          type="text"
          formControlName="postAuthorNickName"
          id="postAuthorNickName"
        />
      </div>

      <div class="formcontrol">
        <label for="postTitle">Título</label>
        <input type="text" formControlName="postTitle" id="postTitle" />
      </div>

      <div class="formcontrol">
        <label for="postContent">Contenido</label>
        <textarea class="content" formControlName="postContent" name="postContent" id="postContent"></textarea>
      </div>

      <div class="btn-container">
        <button
          class="btn"
          (click)="createPost()"
          [disabled]="!newPostForm.valid"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>


<button class="btn-new-post" (click)="showNewPostForm()">+</button>
