<p style="text-align: center;">Lista privada de posts</p>
<p style="text-align: center;">↓</p>
<div
  class="card"
  *ngFor="let post of posts$ | async; index as i"
  id="post{{ i }}"
>
  <div class="card__body">
    <p class="card__info">{{ post?.postAuthorName }}</p>
    <div class="card__img">
      <img
        class="card__img__detail"
        src="../../../assets/rectangle.png"
        alt="dummy image"
      />
    </div>
    <p class="card__title">id: {{ post?.postId }}</p>
    <p class="card__title">{{ post?.postTitle }}</p>
    <p class="card__text">{{ post?.postContent }}</p>
    <div class="btn-container">
      <div>
        <button class="btn btn__delete" (click)="deletePost(post?.postId)">
          Delete Post
        </button>
      </div>
      <div>
        <button class="btn" (click)="showDetails(post?.postId)">
          Show Comments
        </button>
      </div>
    </div>
    <div>
      <div class="formgroup">
        <form class="UpdatePostForm" [formGroup]="UpdatePostForm">
          <div>
            <label for="postTitle">Título</label>
            <input type="text" formControlName="postTitle" id="postTitle" />
          </div>
          <div>
            <label for="postContent">Contenido</label>
            <textarea
              class="content"
              formControlName="postContent"
              name="postContent"
              id="postContent"
            ></textarea>
          </div>
          <div>
            <button (click)="modifyPost(post.postId, post)">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="newpost" *ngIf="displayNewPostForm">
  <div class="formgroup">
    <form [formGroup]="newPostForm">
      <div class="formcontrol">
        <label for="postAuthorName">Autor</label>
        <input
          type="text"
          formControlName="postAuthorName"
          id="postAuthorName"
        />
      </div>
      <div class="formcontrol">
        <label for="postAuthorNickName">Nick</label>
        <input
          type="text"
          formControlName="postAuthorNickName"
          id="postAuthorNickName"
        />
      </div>
      <div class="formcontrol">
        <label for="postTitle">Título</label>
        <input type="text" formControlName="postTitle" id="postTitle" />
      </div>
      <div class="formcontrol">
        <label for="postContent">Contenido</label>
        <textarea
          class="content"
          formControlName="postContent"
          name="postContent"
          id="postContent"
        ></textarea>
      </div>
      <div class="btn-container">
        <button
          class="btn"
          (click)="createPost(); displayNewPostForm = !displayNewPostForm"
          [disabled]="!newPostForm.valid"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
<button class="btn-new-post" (click)="displayNewPostForm = !displayNewPostForm">
  +
</button>
