
.posts-container{
  margin-top: 100px;
}
.card {
  margin: 10px auto;
  padding: 15px 100px;

  .header {
    &__header {
      display: flex;
      justify-content: space-between;
      * {
        margin: 5px;
      }
    }
    &__img {
      cursor: pointer;
    }
  }

  .post-content {
    cursor: pointer;
  }

  .p-formgroup-inline {
    background: rgba(0, 0, 0, 0.119);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;
  }
}
.btn-float{
  border: groove 2px rgb(137, 133, 133);
  border-radius: 50%;
  bottom: 5%;
  height: 35px;
  position: fixed;
  right: 1%;
  width: 35px;
}
.btn-new-post {
  background: rgb(159, 159, 159);
}

.btn-table{
  background: rgb(69, 76, 255);
  bottom: 10%;
}

.newpost {
  background: #f8f8f8;
  border-radius: 4px;
  bottom: 5%;
  box-shadow: 0 0 9px 0px #000000b0;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 18px 15px;
  position: fixed;
  right: 4%;
  width: 95%;

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.btn-container{
  display: flex;
  justify-content: center;
  margin: 15px 0;

  p-button{
      margin: 0 10px;
  }
}

.table-container{
  padding: 0 60px;
  margin-bottom: 20px;
}

#table-action-btn{
text-align: center;

p-button{
  margin: 0 10px;
}
}

/* Column Priorities */
@media only all {
  th.ui-p-6,
  td.ui-p-6,
  th.ui-p-5,
  td.ui-p-5,
  th.ui-p-4,
  td.ui-p-4,
  th.ui-p-3,
  td.ui-p-3,
  th.ui-p-2,
  td.ui-p-2,
  th.ui-p-1,
  td.ui-p-1 {
      display: none;
  }
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
  th.ui-p-1,
  td.ui-p-1 {
      display: table-cell;
  }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
  th.ui-p-2,
  td.ui-p-2 {
      display: table-cell;
  }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
  th.ui-p-3,
  td.ui-p-3 {
      display: table-cell;
  }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
  th.ui-p-4,
  td.ui-p-4 {
      display: table-cell;
  }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
  th.ui-p-5,
  td.ui-p-5 {
      display: table-cell;
  }
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
  th.ui-p-6,
  td.ui-p-6 {
      display: table-cell;
  }
}
