.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;
}
.nav {
  @media (max-width: 700px) {
    padding: 10px;
  }
  background: rgb(3, 3, 3);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 20px 55px;

  & div {
    width: 33%;
  }

  &__link {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    margin: 0 10px;
    outline: none;
    text-decoration: none;

    &:hover {
      color: rgb(125, 125, 125);
    }
  }

  .link-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }

  .btn-container {
    padding: 10px;
    .btn {
      background: rgba(216, 216, 216, 0.616);
      border: none;
      border-radius: 4px;
      font-size: 0.9rem;
      padding: 8px 10px;
    }
  }
}
