<div class="login">
  <div class="formgroup">
    <form [formGroup]="loginForm">
      <div class="formcontrol">
        <label for="userName">userName</label>
        <input type="text" formControlName="userName" id="userName" />
      </div>

      <div class="formcontrol">
        <label for="pass">Password</label>
        <input type="pass" formControlName="pass" id="pass" />
      </div>

      <div class="btn-container">
        <button class="btn" (click)="login()" [disabled]="!loginForm.valid">
          Login
        </button>
      </div>
    </form>
  </div>

  <div class="formgroup">
    <form [formGroup]="registerForm">
      <div class="formcontrol">
        <label for="userName"> Username</label>
        <input type="text" formControlName="userName" id="userName" />
          <div *ngIf="registerForm.get('userName').dirty">
          <span *ngIf="registerForm.get('userName').hasError('userTaken')" style="color: crimson;">
              Username is taken
          </span>
      </div>
      </div>

      <div class="formcontrol">
        <label for="pass"> Password </label>
        <input type="pass" formControlName="pass" id="pass" />
      </div>

      <div class="btn-container">
        <button
          class="btn"
          (click)="register()"
          [disabled]="!registerForm.valid"
        >
          New Account
        </button>
      </div>
    </form>
  </div>
</div>
