<p>app-login works!</p>

<div class="formgroup">

<form [formGroup]="loginForm" style="border: 1px solid blue;">
    Username: <input type="text" formControlName="username" /> Password:
    <input type="password" formControlName="password" />
    <button (click)="login()" [disabled]="!loginForm.valid">Login</button>
  </form> 
</div>

  <div class="formgroup" style="border: 1px solid blue;">
  <form [formGroup]="registerForm">
    Username: <input type="text" formControlName="userName" /> Password:
    <input type="password" formControlName="pass" />
    <button (click)="register()" [disabled]="!registerForm.valid">New Account</button>
  </form>
</div>