.card {
  @media (max-width: 700px) {
    margin: 10px auto;
    padding: 5px;
  }
  margin: 10px auto;
  padding: 15px 100px;

  .header {
    &__header {
      display: flex;
      justify-content: space-between;
      * {
        margin: 5px;
      }
    }
  }

  .p-formgroup-inline {
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;

    input {
      width: 100%;
    }
  }

  &-comment {
    background: rgba(0, 0, 0, 0.119);
    border-radius: 4px;
    margin-bottom: 7px;
    padding: 5px;
  }
}

.newComment {
  box-shadow: 0 0 9px 0px #000000b0;
  background: #f8f8f8;
  border-radius: 4px;
  position: fixed;
  padding: 15px 15px 18px 15px;
  right: 2%;
  bottom: 7%;
  display: flex;
  flex-direction: column;
  width: 95%;

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.btn-new-comment {
  background: rgb(159, 159, 159);
  border: groove 2px rgb(137, 133, 133);
  border-radius: 50%;
  bottom: 5%;
  height: 30px;
  position: fixed;
  right: 1%;
  width: 30px;
}
